In [13]:
str3="world"
str3[len(str3)::-1]

'dlrow'

In [9]:
"helloworld"[::-1]

'dlrowolleh'

In [15]:
temp = 120
if temp > 85:
   print("Hot")
if temp > 100:
   print("REALLY HOT!")
if temp > 60:
   print("Comfortable") 
else:
   print("Cold")

Hot
REALLY HOT!
Comfortable

In [16]:
num = 5
if num > 2:
    print(num)
    num -= 1
print(num)

5
4

In [ ]:
numberOfLoops = 0
numberOfApples = 2
while numberOfLoops < 10:
    numberOfApples *= 2
    numberOfApples += numberOfLoops
    numberOfLoops -= 1
    print(numberOfLoops)
print("Number of apples: " + str(numberOfApples))

In [19]:
num = 10
while num > 3:
    num -= 1
    print(num)

9
8
7
6
5
4
3

In [20]:
ages = [23,23,35,44,32,23,18,10,23]

In [21]:
ages

[23, 23, 35, 44, 32, 23, 18, 10, 23]

In [22]:
ages.append(17)

In [23]:
print(ages)

[23, 23, 35, 44, 32, 23, 18, 10, 23, 17]

In [24]:
ages[0] = 27

In [25]:
print(ages)

[27, 23, 35, 44, 32, 23, 18, 10, 23, 17]

In [26]:
del ages[0]

In [27]:
print(ages)

[23, 35, 44, 32, 23, 18, 10, 23, 17]

In [28]:
ages.remove(32)

In [29]:
print(ages)

[23, 35, 44, 23, 18, 10, 23, 17]

In [30]:
newAges = [23,18]

In [31]:
ages+newAges

[23, 35, 44, 23, 18, 10, 23, 17, 23, 18]

In [34]:
s = "abcdefghijkl"
list(s)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']

In [35]:
max(ages)

44

In [36]:
min(ages)

10

In [37]:
sum(ages)

193

In [38]:
len(ages)

8

In [39]:
ages.sort()

In [40]:
print(ages)

[10, 17, 18, 23, 23, 23, 35, 44]

In [41]:
ages.reverse()

In [42]:
ages

[44, 35, 23, 23, 23, 18, 17, 10]

In [43]:
ages.extend([23,24])

In [44]:
print(ages)

[44, 35, 23, 23, 23, 18, 17, 10, 23, 24]

In [45]:
ages.insert(0,32)

In [46]:
print(ages)

[32, 44, 35, 23, 23, 23, 18, 17, 10, 23, 24]

In [47]:
ages

[32, 44, 35, 23, 23, 23, 18, 17, 10, 23, 24]

In [48]:
newAges

[23, 18]

In [49]:
ages.extend(newAges)

In [50]:
print(ages)

[32, 44, 35, 23, 23, 23, 18, 17, 10, 23, 24, 23, 18]

In [51]:
ages.append(newAges)

In [52]:
print(ages)

[32, 44, 35, 23, 23, 23, 18, 17, 10, 23, 24, 23, 18, [23, 18]]

In [53]:
s = ["harry","potter"]

In [56]:
s.reverse()

In [57]:
print(s)

['potter', 'harry']

In [58]:
ages.pop()

[23, 18]

In [59]:
print(ages)

[32, 44, 35, 23, 23, 23, 18, 17, 10, 23, 24, 23, 18]

In [60]:
ages.append(newAges)

In [61]:
print(ages)

[32, 44, 35, 23, 23, 23, 18, 17, 10, 23, 24, 23, 18, [23, 18]]

In [62]:
ages.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [63]:
student1 = [1,"Harry",23,"London,UK","A","Sorcery"]
student2 = [2,"Mary",25,"San Jose, CA","B","Medicine"]
student3 = [3,"David",28,"Toronto, CA","C","Astronomy"]

In [64]:
student1

[1, 'Harry', 23, 'London,UK', 'A', 'Sorcery']

In [65]:
student2

[2, 'Mary', 25, 'San Jose, CA', 'B', 'Medicine']

In [66]:
student3

[3, 'David', 28, 'Toronto, CA', 'C', 'Astronomy']

In [67]:
students = [student1,student2,student3]

In [68]:
print(students)

[[1, 'Harry', 23, 'London,UK', 'A', 'Sorcery'], [2, 'Mary', 25, 'San Jose, CA', 'B', 'Medicine'], [3, 'David', 28, 'Toronto, CA', 'C', 'Astronomy']]

In [70]:
name = input("Enter student name:")

Enter student name:Mary

In [71]:
name

'Mary'

In [72]:
for student in students:
    if student[1] == "Mary":
        print(student)
        break

[2, 'Mary', 25, 'San Jose, CA', 'B', 'Medicine']

In [73]:
students

[[1, 'Harry', 23, 'London,UK', 'A', 'Sorcery'],
 [2, 'Mary', 25, 'San Jose, CA', 'B', 'Medicine'],
 [3, 'David', 28, 'Toronto, CA', 'C', 'Astronomy']]

In [74]:
for student in students:
    print("Student Info:",student)

Student Info: [1, 'Harry', 23, 'London,UK', 'A', 'Sorcery']
Student Info: [2, 'Mary', 25, 'San Jose, CA', 'B', 'Medicine']
Student Info: [3, 'David', 28, 'Toronto, CA', 'C', 'Astronomy']

In [75]:
students_d = {"Harry":student1,"Mary":student2,"David":student3}

In [76]:
print(students_d)

{'Harry': [1, 'Harry', 23, 'London,UK', 'A', 'Sorcery'], 'Mary': [2, 'Mary', 25, 'San Jose, CA', 'B', 'Medicine'], 'David': [3, 'David', 28, 'Toronto, CA', 'C', 'Astronomy']}

In [77]:
students_d["Mary"]

[2, 'Mary', 25, 'San Jose, CA', 'B', 'Medicine']

In [78]:
students_d["David"]

[3, 'David', 28, 'Toronto, CA', 'C', 'Astronomy']

In [79]:
students_d

{'David': [3, 'David', 28, 'Toronto, CA', 'C', 'Astronomy'],
 'Harry': [1, 'Harry', 23, 'London,UK', 'A', 'Sorcery'],
 'Mary': [2, 'Mary', 25, 'San Jose, CA', 'B', 'Medicine']}

In [81]:
students_d[4]="Hello"

In [82]:
students_d

{'Harry': [1, 'Harry', 23, 'London,UK', 'A', 'Sorcery'],
 'Mary': [2, 'Mary', 25, 'San Jose, CA', 'B', 'Medicine'],
 'David': [3, 'David', 28, 'Toronto, CA', 'C', 'Astronomy'],
 4: 'Hello'}