In [3]:
class Employee(object):
    
    def __init__(self):
        self.id = 0
        self.name = ""
        self.dept = ""
        self.salary = 0

In [4]:
employee1 = Employee()

In [5]:
employee1

In [7]:
print(employee1.id)
print(employee1.name)
print(employee1.dept)
print(employee1.salary)

0


0

In [8]:
Employee.id

AttributeError: type object 'Employee' has no attribute 'id'

In [10]:
class Employee(object):
    
    def __init__(self):
        self.empid = 0
        self.name = ""
        self.dept = ""
        self.salary = 0
        
    def setId(self,empid):
        self.empid = empid
        
    def setName(self,name):
        self.name = name
        
    def setDept(self,dept):
        self.dept = dept
        
    def setSalary(self,salary):
        self.salary = salary

In [11]:
employee1 = Employee()

In [12]:
print(employee1.empid)
print(employee1.name)
print(employee1.dept)
print(employee1.salary)

0


0

In [14]:
employee1.setId(1)
employee1.setName("Harry")
employee1.setDept("Wizardry")
employee1.setSalary(100000)

In [15]:
print(employee1.empid)
print(employee1.name)
print(employee1.dept)
print(employee1.salary)

1
Harry
Wizardry
100000

In [26]:
class Employee(object):
    
    def __init__(self,empid,name,dept,salary):
        self.empid = empid
        self.name = name
        self.dept = dept
        self.salary = salary
        
    def setId(self,empid):
        self.empid = empid
        
    def setName(self,name):
        self.name = name
        
    def setDept(self,dept):
        self.dept = dept
        
    def setSalary(self,salary):
        self.salary = salary
        
    def printEmployeeDetails(self):
        print(self.empid)
        print(self.name)
        print(self.dept)
        print(self.salary)

In [27]:
employee1 = Employee(1,"Bob","Computer Science",10000)

In [20]:
print(employee1.empid)
print(employee1.name)
print(employee1.dept)
print(employee1.salary)

1
Bob
Computer Science
10000

In [29]:
employee1.printEmployeeDetails()

1
Bob
Computer Science
10000

In [28]:
employee2 = Employee(2,"Harry","Psychology",100000)

In [24]:
print(employee1.empid)
print(employee1.name)
print(employee1.dept)
print(employee1.salary)

1
Bob
Computer Science
10000

In [25]:
print(employee2.empid)
print(employee2.name)
print(employee2.dept)
print(employee2.salary)

2
Harry
Psychology
100000

In [37]:
empFile = open("employees.txt")

line = empFile.readline()
print(line)

employees = []
while True:
    line = empFile.readline()
    if line == "":
        break
        
    tokens = line.split(",")
    
    employee = Employee(tokens[0],tokens[1],tokens[2],tokens[3])
    
    employees.append(employee)

Id,Name,Dept,Salary

In [38]:
employees

[<__main__.Employee at 0x5396358>,
 <__main__.Employee at 0x5396470>,
 <__main__.Employee at 0x53966a0>,
 <__main__.Employee at 0x5396780>,
 <__main__.Employee at 0x5396710>,
 <__main__.Employee at 0x5396ac8>,
 <__main__.Employee at 0x5396b38>,
 <__main__.Employee at 0x5396cc0>,
 <__main__.Employee at 0x5396da0>,
 <__main__.Employee at 0x53967b8>,
 <__main__.Employee at 0x537f1d0>]

In [39]:
for employee in employees:
    employee.printEmployeeDetails()

1
Bob
Computer Science
10000

2
Bob2
Computer Science
10000

3
Bob3
Computer Science
10000

4
Bob4
Computer Science
10000

5
Bob5
Computer Science
10000

6
Harry1
Science
100008

7
Harry2
Science
100007

8
Harry3
Science
100005

9
Harry4
Science
100003

10
Harr5
Science
100002

11
Mary
Science
100000

In [40]:
class Employee(object):
    
    def __init__(self,empid,name,dept,salary,tax_rate):
        self.empid = empid
        self.name = name
        self.dept = dept
        self.salary = salary
        self.tax_rate = tax_rate
        
    def setId(self,empid):
        self.empid = empid
        
    def setName(self,name):
        self.name = name
        
    def setDept(self,dept):
        self.dept = dept
        
    def setSalary(self,salary):
        self.salary = salary
        
    def printEmployeeDetails(self):
        print(self.empid)
        print(self.name)
        print(self.dept)
        print(self.salary)
        
    def printSalaryReport(self):
        self.printEmployeeDetails()
        
        # compute the tax and print out out the net salary
        tax = self.salary * self.tax_rate
        net_salary = self.salary - tax
        
        print("Tax:",tax)
        print("Net Salary:",net_salary)

In [41]:
employee1 = Employee(1,"Bob","Computer Science",10000,0.35)

In [42]:
employee1.printSalaryReport()

1
Bob
Computer Science
10000
Tax: 3500.0
Net Salary: 6500.0

#### Creating class variables

In [60]:
class Employee(object):
    
    tax_rate = 0.35
    
    def __init__(self,empid,name,dept,salary):
        self.empid = empid
        self.name = name
        self.dept = dept
        self.salary = salary
        
    def setId(self,empid):
        self.empid = empid
        
    def setName(self,name):
        self.name = name
        
    def setDept(self,dept):
        self.dept = dept
        
    def setSalary(self,salary):
        self.salary = salary
        
    def printEmployeeDetails(self):
        print(self.empid)
        print(self.name)
        print(self.dept)
        print(self.salary)
        
    def printSalaryReport(self):
        self.printEmployeeDetails()
        
        # compute the tax and print out out the net salary
        tax = self.salary * Employee.tax_rate
        net_salary = self.salary - tax
        
        print("Tax:",tax)
        print("Net Salary:",net_salary)
        print("\n")

In [61]:
employee1 = Employee(1,"Bob","Computer Science",10000)

In [62]:
employee1.printSalaryReport()

1
Bob
Computer Science
10000
Tax: 3500.0
Net Salary: 6500.0

In [63]:
empFile = open("employees.txt")

line = empFile.readline()
print(line)

employees = []
while True:
    line = empFile.readline()
    if line == "":
        break
        
    tokens = line.split(",")
    
    employee = Employee(int(tokens[0]),tokens[1],tokens[2],float(tokens[3]))
    
    employees.append(employee)
    
for employee in employees:
    employee.printSalaryReport()

Id,Name,Dept,Salary

1
Bob
Computer Science
10000.0
Tax: 3500.0
Net Salary: 6500.0


2
Bob2
Computer Science
10000.0
Tax: 3500.0
Net Salary: 6500.0


3
Bob3
Computer Science
10000.0
Tax: 3500.0
Net Salary: 6500.0


4
Bob4
Computer Science
10000.0
Tax: 3500.0
Net Salary: 6500.0


5
Bob5
Computer Science
10000.0
Tax: 3500.0
Net Salary: 6500.0


6
Harry1
Science
100008.0
Tax: 35002.799999999996
Net Salary: 65005.200000000004


7
Harry2
Science
100007.0
Tax: 35002.45
Net Salary: 65004.55


8
Harry3
Science
100005.0
Tax: 35001.75
Net Salary: 65003.25


9
Harry4
Science
100003.0
Tax: 35001.049999999996
Net Salary: 65001.950000000004


10
Harr5
Science
100002.0
Tax: 35000.7
Net Salary: 65001.3


11
Mary
Science
100000.0
Tax: 35000.0
Net Salary: 65000.0

In [64]:
employees[2].printSalaryReport()

3
Bob3
Computer Science
10000.0
Tax: 3500.0
Net Salary: 6500.0

#### Overloading functions and operators

In [65]:
listA = [1,2,3,4]

In [66]:
print(listA)

[1, 2, 3, 4]

In [67]:
text = "Jack and Jill"

In [68]:
print(text)

Jack and Jill

In [69]:
print(employee1)

<__main__.Employee object at 0x00000000053B8EB8>

In [76]:
class Employee(object):
    
    tax_rate = 0.35
    
    def __init__(self,empid,name,dept,salary):
        self.empid = empid
        self.name = name
        self.dept = dept
        self.salary = salary
        
    def setId(self,empid):
        self.empid = empid
        
    def setName(self,name):
        self.name = name
        
    def setDept(self,dept):
        self.dept = dept
        
    def setSalary(self,salary):
        self.salary = salary
        
    def printEmployeeDetails(self):
        print(self.empid)
        print(self.name)
        print(self.dept)
        print(self.salary)
        
    def __str__(self):
        
        result = str(self.empid) + "\n" + self.name + "\n" + self.dept + "\n" + str(self.salary) + "\n"
        
        return result
        
    def printSalaryReport(self):
        self.printEmployeeDetails()
        
        # compute the tax and print out out the net salary
        tax = self.salary * Employee.tax_rate
        net_salary = self.salary - tax
        
        print("Tax:",tax)
        print("Net Salary:",net_salary)
        print("\n")

In [77]:
employee1 = Employee(1,"Bob","Computer Science",10000)

In [78]:
print(employee1)

1
Bob
Computer Science
10000