In [ ]:
def add(x,y):
    print("Sum is:",x+y)

In [ ]:
add(2,3)

In [ ]:
add(10,10)

In [ ]:
def add(x,y):
    return x+y

In [ ]:
print(add(2,3))

In [ ]:
z = add(2,3)

In [ ]:
print(z)

In [ ]:
def math_ops(x,y):
    
    return [x+y,x*y]

In [ ]:
math_ops(2,3)

In [ ]:
def split_name(name):
    
    print(name)
    
    split_values = name.split(" ")
    print(split_values)
    
    print([split_values[0],split_values[1]])
    
    return [split_values[0],split_values[1]]

In [ ]:
myName = "Harry Potter"

split_name(myName)

In [ ]:
def split_name(name):
    
    split_values = name.split(" ")
    
    return [split_values[0],split_values[1],split_values[2]]

In [ ]:
firstName,middleName,lastName = split_name("Harry James Potter")

In [ ]:
firstName

In [ ]:
lastName

In [ ]:
middleName

### Function Scope

In [ ]:
def add(x,y):
    total = x + y
    return total

total = 10

result = add(2,3)

print(result)
print(total)

In [2]:
def getNumber():
    
    while True:
        number = input("Enter a number:")
        
        if number.isdigit():
            return int(number)

In [4]:
getNumber()

Enter a number:sdaf
Enter a number:asdfa
Enter a number:asdf
Enter a number:asdf
Enter a number:sadf
Enter a number:sadf
Enter a number:dfsda
Enter a number:fsda
Enter a number:fsd
Enter a number:sadf
Enter a number:safd
Enter a number:90

90

In [5]:
def add(x,y):
    return x+y

In [6]:
number1 = getNumber()
number2 = getNumber()

total = add(number1,number2)

print(total)

Enter a number:89
Enter a number:lkadfj
Enter a number:100
189

### Nested functions

In [9]:
def sumSeries(n):
    
    total = 0
    for i in range(1,n+1):
        total += i
        
    return total

In [11]:
sumSeries(3)

6

In [18]:
def sumSeries(n):
    
    def add2(x,y):
        return x+y
    
    total = 0
    for i in range(1,n+1):
        total = add2(total,i)
        
    return total

In [19]:
sumSeries(4)

10

In [20]:
sumSeries

In [21]:
add2

NameError: name 'add2' is not defined

In [17]:
add(2,3)

5

In [22]:
"apple" > 5.1

TypeError: '>' not supported between instances of 'str' and 'float'

In [23]:
add

In [24]:
add(2,3)

5

In [25]:
myadd = add

In [26]:
myadd(8,9)

17

In [27]:
def compute(fn,a,b):
    return fn(a,b)

In [29]:
def add(a,b):
    return a+b
def multiply(a,b):
    return a*b

In [30]:
compute(add,6,7)

13

In [31]:
compute(multiply,6,7)

42

### Recursion

In [32]:
def multiply(x,y):
    
    if x == 1:
        return y
    else:
        return y + multiply(x-1,y)

In [33]:
multiply(3,4)

12

In [34]:
def factorial(n):
    
    if  n == 1:
        return 1
    else:
        return n*factorial(n-1)

In [35]:
factorial(5)

120

In [37]:
def fibonacci(n):
    
    if n==0 or n==1:
        return 1
    else:
        return fibonacci(n-1) + fibonacci(n-2)

In [39]:
fibonacci(6)

13