
## Calculator & Inheritance

In [7]:
class Calculator(object):
    
    def __init__(self,number1,number2):
        self._number1 = number1
        self._number2 = number2
        
    def add(self):
        
        return self._number1 + self._number2
    
    def subtract(self):
        
        return self._number1 - self._number2
    
    def __str__(self):
        
        return "Add:%s Subtract:%s" % (str(self.add()),str(self.subtract()))
    
myCal = Calculator(2,3)

print(myCal)

Add:5 Subtract:-1

In [13]:
class ScientificCalculator(Calculator):
    
    def __init__(self,number1,number2):
        Calculator.__init__(self,number1,number2)
        
    def multiply(self):
        return self._number1 * self._number2
    
    def divide(self):
        return self._number1 / self._number2

In [14]:
s_calc = ScientificCalculator(7,8)

In [15]:
s_calc.divide()

0.875

In [16]:
s_calc.multiply()

56

## Employee Class

In [2]:
class Employee(object):
    
    def __init__(self,name,age,salary):
        
        self.name = name
        self.age = age
        self.salary = salary
        
    def setAge(self,newAge):
        
        self.age = newAge
        
    def __str__(self):
        
        return "Name:%s\n Age:%s\n Salary:%s\n" % (self.name,self.age,self.salary)

In [3]:
newEmployee = Employee("Bob",35,35000)

## Creating a list of employee object

In [5]:
employees = []

for i in range(10):
    temp = Employee("User-"+str(i),i+30,i*1000)
    employees.append(temp)
    
for employee in employees:
    print(employee)

Name:User-0
 Age:30
 Salary:0

Name:User-1
 Age:31
 Salary:1000

Name:User-2
 Age:32
 Salary:2000

Name:User-3
 Age:33
 Salary:3000

Name:User-4
 Age:34
 Salary:4000

Name:User-5
 Age:35
 Salary:5000

Name:User-6
 Age:36
 Salary:6000

Name:User-7
 Age:37
 Salary:7000

Name:User-8
 Age:38
 Salary:8000

Name:User-9
 Age:39
 Salary:9000